.tasks {
  flex: 8;
  background-color: rgba(236, 234, 234, 0.699);
}

.actionsTasks {
  background: -webkit-linear-gradient(right, #1a53a3, #1a53a3, #1a53a3);
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #a0ada4;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-family: "Raleway SemiBold", sans-serif;
  height: 42.3px;
  margin: 0 auto;
  transition: 0.25s;
  padding: 0px 20px;
  outline: none;
  margin: 0px 20px;
}
.actionsTasks:hover {
  box-shadow: 0px 1px 18px #141418;
  border: none;
  outline: none;
}
.actionTasks {
  display: flex;
}
