.viewTasks{
    flex: 8;
    background-color: rgba(236, 234, 234, 0.699);
}
.detContain{
    display: flex;
    width: 100%;
}
.achieved{
    flex:2;
    margin: 20px;
}
.remain{
    flex:2;
    margin: 20px;
}