.chart {
  margin: 20px;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(252, 252, 252);
  box-shadow: 1px 1px 3px 4px rgba(239, 228, 228, 0.5);
  -webkit-box-shadow: 1px 1px 3px 4px rgba(239, 228, 228, 0.5);
  -moz-box-shadow: 1px 1px 3px 4px rgba(239, 228, 228, 0.5);
}
.chartTitle {
  margin-bottom: 20px;
  font-weight: bolder;
}
