.newProduct {
  flex: 8;
  background-color: rgba(236, 234, 234, 0.699);
}
.addProdCon {
  -webkit-box-shadow: 0px 0px 11px -1px #000000;
  box-shadow: 0px 0px 11px -1px #000000;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
}
.title {
  padding: 40px;
  margin: 40px;
}
.newProductItems {
  display: flex;
  justify-content: space-evenly;
}
.leftItemContainer {
  padding: 20px 20px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.rightItemContainer {
  padding: 40px 10px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.leftItems {
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
}
.leftItems label {
  margin-bottom: -10px;
  padding: 10px;
  color: rgb(58, 66, 73);
}
.leftItemContainer input {
  height: 40px;
  padding-left: 10px;
  padding-right: 20px;
  box-shadow: teal;
  margin-bottom: 3px;
  border: none;
  border-radius: 10px;
}
.leftItemContainer select {
  margin-bottom: 15px;
  background-color: rgb(231, 225, 255);
  height: 30px;
  padding-left: 10px;
  padding-right: 20px;
  border: none;
  border-radius: 10px;
}

.rightItemContainer img {
  width: 250px;
  height: 250px;
  padding: 30px;
  border-radius: 40px;
}
.btn-info {
  background: -webkit-linear-gradient(right, #32cd32, #32cd32, #32cd32);
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #a0ada4;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-family: "Raleway SemiBold", sans-serif;
  height: 42.3px;
  margin: 0 auto;
  transition: 0.25s;
  width: 153px;
  outline: none;
  height: 50px;
  margin-top: 10px;
  float: left;
  margin-left: 55px;
  margin-top: 300px;
}
.btn-info:hover {
  box-shadow: 0px 1px 18px #192419;
  border: none;
  outline: none;
}

.upload {
  padding: 10px;
  border-width: 2px;
  cursor: pointer;
  padding-top: 180px;
}
.image {
  display: flex;
}
