.editManager{
    flex:8;
    background-color: rgba(236, 234, 234, 0.699);
    
  }
  .title{
    padding: 10px;
    
    
  }
  .Container{
    display: flex;
    padding-top: 10px;
  }
  .detailsContainer{
    background-color: rgb(255, 255, 255);
    margin: 10px 20px;
    margin-right: -5px;
    flex:3;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 4px rgba(239, 228, 228, 0.5);
  -webkit-box-shadow: 0px 0px 11px -1px #000000;
  box-shadow: 0px 0px 11px -1px #000000;
  }
  .editContainer{
    background-color: rgb(255, 255, 255);
    flex:5;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 4px rgba(239, 228, 228, 0.5);
  -webkit-box-shadow: 0px 0px 11px -1px #000000;
  box-shadow: 0px 0px 11px -1px #000000;
    
  }
  .editTitle{
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: -20px;
  }
  .imNewSale{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    margin:20px
  }
  .detailMain{
    display: flex;
  }
  .idName{
    padding: 30px;
  }
  .detail{
    padding: 10px;
  }li{
    padding: 5px;
  }
  .value{
    color: black;
    font-weight: bolder;
    margin-left: 10px;
  }
  .detailSub{
    padding-bottom: 30px;
  }
  .editItems{
    display: flex;
    
  }
  .leftItemContainer{
    flex:2;
    font-family: 'Scheherazade New', serif;
  }
  .rightItemContainer{
    flex:2;
    align-items:center;
  }
  
  .upload{
    display: flex;
    flex-direction: column;
    margin-top: -70px;
  }
  
  .update {
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px #a0ada4;
    cursor: pointer;
    font-family: "Raleway SemiBold", sans-serif;
    height: 42.3px;
    margin: 0 auto;
    transition: 0.25s;
    width: 153px;
    outline: none;
    height: 50px;
    margin-top: 10px;
  }
  .update:hover  {
    box-shadow: 0px 1px 18px #192419;
    border: none;
    outline: none;
  }
  .update{
    color: rgb(0, 0, 0);
    background: -webkit-linear-gradient(right,	#32CD32,	#32CD32,	#32CD32);
  }
  
  
  .upload .prImg{
    width: 400px;
    height: 400px;
    margin-bottom: -40px;
    
  }
  .upload label{
    padding-left: 50px;
  }
  .update{
    margin-left: 30px;
    margin-top: 60px;
  }
  .contact{
    display: flex;
  }
  .name{
    padding-top: 20px;
    margin-left: -40px;
  }
  .task{
    display: flex;
    justify-content: space-around;
    
    
  }
  .instructions{
    margin-top: -20px;
  }
  .detail{
    margin-bottom: 20px;
  }
  .leftItemContainer input , select{
    padding-bottom: -30px;
    margin-bottom: -80px;
    outline: none;
    border: none;
    background-color: rgb(231, 225, 255);
    border-radius: 30px;
  }
  .leftItemContainer label{
    padding-bottom: -30px;
    margin-bottom: -20px;
  }
  