@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

.newUser {
  flex: 8;
  background-color: rgba(236, 234, 234, 0.699);
}
.title {
  padding: 0px 20px !important;
}

.addSalespersonForm {
  width: 80%;
  margin: 2% 10%;
  -webkit-box-shadow: 0px 0px 11px -1px #000000;
  box-shadow: 0px 0px 11px -1px #000000;
}
@media (min-width: 1025px) {
  .h-custom {
    height: 100vh;
  }
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
.card-registration .select-arrow {
  top: 13px;
}

.bg-indigo {
  background-color: #313652;
}
@media (min-width: 992px) {
  .card-registration-2 .bg-indigo {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
@media (max-width: 991px) {
  .card-registration-2 .bg-indigo {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}

.containerMain {
  margin: 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 4px rgba(239, 228, 228, 0.5);
  -webkit-box-shadow: 1px 1px 3px 4px rgba(239, 228, 228, 0.5);
  -moz-box-shadow: 1px 1px 3px 4px rgba(239, 228, 228, 0.5);
  background-color: white;
}

.newUserItems input {
  height: 40px;
  padding-left: 10px;
  padding-right: 20px;
  box-shadow: teal;
  border: none;
  border-bottom: solid 1px black;
  border-radius: 0px;
  background-color: rgb(227, 233, 233);
  border-bottom: none;
}
.btn-success{
    background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
    border-radius: 40px;
    box-sizing: border-box;
    color: #00a84f;
    display: block;
    height: 50px;
    font-size: 1.4em;
    padding: 4px;
    position: relative;
    text-decoration: none;
    width: 7em;
    z-index: 2;
  }
  
.btn-success:hover {
  color: #fff;
}

.btn-success  .btn-successspan {
  align-items: center;
  background: #0e0e10;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  width: 100%;
}

.btn-success:hover .btn-success span {
  background: transparent;
}
.newUser input{
  height: 35px;
}