@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

.newUser {
  flex: 8;
}
.title {
  padding: 0px 20px !important;
}

form {
  width: 80%;
  margin: 2% 10%;
  -webkit-box-shadow: 0px 0px 11px -1px #000000;
  box-shadow: 0px 0px 11px -1px #000000;
}

@media (min-width: 1025px) {
  .h-custom {
    height: 100vh;
  }
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
.card-registration .select-arrow {
  top: 13px;
}

.bg-indigo {
  background-color: #313652;
}
@media (min-width: 992px) {
  .card-registration-2 .bg-indigo {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
@media (max-width: 991px) {
  .card-registration-2 .bg-indigo {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
